<div class="list-group-item modal-edit-item">
    <img alt="{{ _('Menu') }}" src="{{ url_for('static', filename='/img/static/menu.png') }}" class="menu-handle icon-invert" style="height: 13px;margin-right: 10px;width:15px; cursor:pointer;">
    <span style="font-weight:bold;font-size:15px;">{{ refactor(item.type) }}</span>
    {% if "data" in item %}
        <span style="margin-left:10px;margin-right:10px;">-</span>
        <span style="font-style:italic;">
            {% if "label" in item.data %}
                {{ item.data.label }}
            {% else %}
                {{ _("Unnamed") }}
            {% endif %}
        </span>
    {% else %}
    {% endif %}

    <div class="modal-edit-item-dropdown">
        <form>
            {% for value in item.data %}
                {% if value != "value" %}
                    {% include "modal_edit/item_value.html" %}
                {% endif %}
                {% if value == "id" %}
                <div class="form-group-sm row">
                    <label for='{{ item["data"][value] }}-mqtt-path' class="col-sm-2 col-form-label">{{ _("MQTT path") }}</label>
                    <div class="col-sm-10">
                        <input id='{{ item["data"][value] }}-mqtt-path' class="modal-item-mqtt-path form-control form-control-sm" value='home/{{ tile_id }}/{{ item["data"][value] }}' placeholder="{{ _('MQTT path') }}" readonly>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </form>

        <button type="button" class="btn btn-sm btn-outline-danger modal-edit-item-delete">
            <span>{{ _("Delete") }}</span>
        </button>
    </div>
</div>