.rGauge-val,.vGauge-val{font-weight:700;font-size:1.3em}
.rGauge{position: absolute;top:20px;left: -18px;width:250px;height:230px}
.rGauge-base{stroke:#edebeb;fill:none;color: transparent;}
.rGauge-progress{fill:none}
.rGauge-max-val,
.rGauge-min-val{fill:#000000}
.vGauge{width:145px;height:145px}
.vGauge-base{fill:#edebeb}
.vGauge-max-val,.vGauge-min-val{fill:#b3b3b3}
.gauge,.gauge-section{display:inline-block}
.btn,body{color:#333}
.btn,.btn:active{text-decoration:none}
body{margin:0;padding:20px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;background-color:#fff}
.gauge-section{text-align:center}
.gauge-section h3{margin-bottom:0}
.actions{margin-top:15px}
.btn{border:0;border-radius:3px;box-shadow:0 1px 3px #666;background:#fff;padding:10px 20px;cursor:pointer}
.btn-icon{padding:2px 15px}
.btn:active{background:#ddd}