.bcg-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/images/static/edit_bg.jpg");
}

main {
    position: absolute;
    top: 90px;
}


.tile_ghost_prefab_class{
    opacity: 70%;   
}

.btn_exit_edit_mode{
    position: absolute;
    top: 2px;
    right: 80px;
}

.modal_edit_dropwown_delete{
    float: right;
    margin-top: 20px;
}

.modal_items_edit_sortable_item_dropdown{
    margin-left: 20px;
    margin-top: 15px;
}

.modal_edit_tile_types{
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.modal_edit_title{
    font-size: 20px;
    font-weight: 600;
}

.modal_items_edit{
    margin-top: 20px;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.text-primary {
    color: #ffffff;
}

.slide-header{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    
}

.graphModul{
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.toggle{
    position: relative;
    float: right;
    right: 10px;
}

.upper-index{
    font-size: 60%;
}

.modalModule{
    padding-top: 3px;
    padding-bottom: 3px;
}

.buttonModule{
    margin-top: 15px;
    margin-bottom: 15px;
}

.end-block{
    margin-bottom: 200px;
    float: left;
    position: relative;
    overflow: hidden;
}

.page_settings_icon{
    position: absolute;
    width: 40px;
    right: 10px;
}

.page_settings_icon:hover {
    cursor: pointer;
}