# python >= 3.8.3

setuptools>=49.2.0
paho-mqtt>=1.5.0
Flask>=1.1.2
Flask-SocketIO>=4.3.1
Flask-Babel>=1.0.0
Flask-Babel-JS>=1.0.2
Flask-Ext>=0.1
Flask-SQLAlchemy>=2.4.4
Flask-Login>=0.5.0
Flask-Session>=0.3.2
python-socketio>=4.6.0
python-engineio>=3.13.1
pyserial>=3.4
htmlmin>=0.1.12
csscompressor>=0.9.5
css-html-js-minify>=2.5.5
jsmin>=2.2.2
Pillow>=7.2.0
numpy>=1.19.1
Werkzeug>=1.0.1
getmac>=0.8.2
six>=1.15.0
suntime>=1.2.5
Unidecode>=1.1.1
Jinja2>=2.11.2
itsdangerous>=1.1.0
gender-guesser>=0.4.0
eventlet>=0.26.1
loguru>=0.5.1
