<div class="modal-item" data-id="{{ item.id }}" data-type="{{ item.type }}" data-value="{{ item.value }}" data-config='{{ item.config | tojson | safe }}' data-group="{{ group }}">
    <input class="modal-item-value" type="hidden">

    <div class="modal-item-content">
        <button type="button" class="btn btn-{{ item.config.color }}" style="margin-bottom:15px;width:100%">{{ item.config.label }}</button>
        <br>
    </div>
    <script type="text/javascript" defer>
        $('.modal-item[data-id="{{ item.id }}"][data-group="{{ group }}"]').on("click", "button", function() {
            console.log("OK");
          store($(this).closest(".modal-item"), "value", 1).trigger("value-transmit");
        });
        // TODO mousedown a mouseup - bude fungovat i podržení

        $('.modal-item[data-id="{{ item.id }}"][data-group="{{ group }}"]').on("config-receive", function() {
          let config = store($(this), "config");
          $(this).find("button").text(config.label);
          $(this).find("button").removeClass(function (index, className) {
            return (className.match (/(^|\s)btn-\S+/g) || []).join(' ');
          });
          $(this).find("button").addClass("btn-" + config.color);
        });
    </script>
</div>