<!-- Input group, just add class 'clockpicker', and optional data-* -->
<div class="input-group clockpicker">
	<input type="text" class="form-control" value="09:32">
	<span class="input-group-addon">
		<span class="glyphicon glyphicon-time"></span>
	</span>
</div>
<script type="text/javascript" defer>
    $(".clockpicker").clockpicker({
        default: "12:00",
        donetext: "{{ _('Done') }}",
        afterDone: function() {
            alert("Done.");
        }
    });
</script>