<div class="modal-item" data-id="{{ item.id }}" data-type="{{ item.type }}" data-value="{{ item.value }}" data-config='{{ item.config | tojson | safe }}' data-group="{{ group }}">
    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
            <div class="input-group-text clock-picker-prepend">
                <img alt="{{ _('Alarm') }}" class="icon-invert" style="width: 20px" src="{{ url_for('static', filename='img/static/alarm.png') }}">
            </div>
        </div> <!-- TODO placeholder will be configurable -->
        <input type="text" class="clockpicker form-control" placeholder="{{ _(item.config.placeholder) }}" readonly value="{{ item.value }}">
    </div>
    <script type="text/javascript" defer>
      var currentDate = new Date();

      $('.modal-item[data-id="{{ item.id }}"][data-group="{{ group }}"]').find("input.clockpicker").clockpicker({
        default: currentDate.getHours() + ":" + currentDate.getMinutes(),
        placement: "auto",
        donetext: "{{ _("Done") }}"
      });

      $("input.clockpicker").change(function() {
        store($(this).closest(".modal-item"), "value", $(this).val()).trigger("value-transmit");
      });

      $(".modal-item[data-id={{ item.id }}][data-group={{ group }}][data-group={{ group }}]").on("value-receive", function() {
        // TODO není vůbec hotové
        $(this).find("input.clockpicker").val(store($(this), "value"));
      });

      $('.modal-item[data-id="{{ item.id }}"][data-group="{{ group }}"]').on("config-receive", function() {
          let config = store($(this), "config");
          $(this).find("input").attr("placeholder", config.placeholder);
        });
    </script>
</div>