<div class="grid-square">
    <div class="tile" data-id="{{ tile.data.id }}" data-type="percentage">
        <div class="tileTextLayer">
            <div class="tileDisplay">
                <div class="tileInputVal">{{ tile.data.value }}</div>
                <span style="font-size: 15px">{{ tile.data.suffix }}</span>
            </div>
            <span class="tileDescription">{{ tile.data.label }}</span>
            <span class="tileStatus">TODO ago</span>
        </div>
        <div class="tileTouchLayer tileModal"></div>
    </div>
</div>