<div class="grid-square">
    <div style="width: 212px" class=" tile" data-id="::id::" data-type="toggle">
        <span class="toggle-dot"></span>
        <label id="music_name" for="" style="max-height: 20px;position: absolute;top: 20px;left: 105px;max-width: 100px;overflow:hidden">Bon Jovi - It"s my life</label>
        <div class="music-track-01el" style="position: absolute; left:105px; width:100px; height:3px; top:45px; background-color:#989898;"></div>
        <div class="music-track-02el" style="position: absolute; left:105px; width:0px; height:3px; top:45px; background-color:grey;"></div>
        <div class="tileTextLayer" style="margin: 0px;">
            <img id="thumbnail" src="/img/static/BJ_Greatest.jpg" style="width: 80px; position: absolute;;transition: 1s;left: 10px;top: 10px;border-radius:10px;">
            <img id="music-return" src="/img/static/previous.png" style="width: 20px; position: absolute;transform: translate(-50%, -50%);left: 115px;top: 75px;">
            <img class="stop" src="/img/static/pause.png" style="display:none;width: 20px; position: absolute;transform: translate(-50%, -50%);left: 158px;top: 75px;">
            <img class="play" src="/img/static/play.png" style="width: 20px; position: absolute;transform: translate(-50%, -50%);left: 158px;top: 75px;">
            <img id="music-skip" src="/img/static/next.png" style="width: 20px; position: absolute;transform: translate(-50%, -50%);left: 195px;top: 75px;">
        </div>
        <div class="tileTouchLayer tileModal"></div>
    </div>
</div>