<div class="tile {% if tile.value == 1 %}tile-active{% endif %}">
    <span class="toggle-dot" {% if tile.value == 1 %}style="background-color: rgba(0, 196, 42, 0.28);"{% endif %}></span>
    <div class="tile-text">
        <img alt="{{ _('Icon') }}" src="{{ url_for('static', filename='img/icons/' + tile.config.icon) }}" class="tile-icon icon-invert">
        <span class="tile-label">{{ tile.label }}</span>
        <span class="tile-status">{% if tile.value == 1 %}{{ _("On") }}{% else %}{{ _("Off") }}{% endif %}</span>
    </div>
</div>