<div class="grid-square">
    <div class='tile tileActive' data-id="{{ tile.data.id }}" style="width:212px;">
        <div class="tileTextLayer">
            <img src="{{ '/img/icons/'+tile.data.icon }}" class="tileImage" style="left: 27px;top: 16px">
            <span class="tileDescription" style="top: 18px;left: 104px;position: absolute;font-size: 18px;">{{ tile.data.label }}</span>
            <span style="position: absolute;top: 62px;left: 30px;font-size: 20px;">78%</span>
            <span style="position: absolute;top: 62px;left: 104px;font-size: 20px;">1280ml</span>
        </div>
        <div class="tileTouchLayer tileModal"></div>
    </div>
</div>