<div class="grid-square">
    <div class="tile enable-hammer tile-active" data-id="{{ tile.data.id }}" style="width:212px;">
        <div class="tile-text">
            <img alt="{{ _('Icon') }}" src="{{ '/img/icons/'+tile.data.icon }}" class="tile-icon icon-invert" style="left: 27px;top: 16px">
            <div style="width: 100px;height: 40px;position: absolute;left: 100px;top: 14px;">
                <span class="tile-label" style="font-size: 18px;top: 0;height: 46px;width: 100px;">{{ tile.label }}</span>
            </div>
            <span style="position: absolute;top: 62px;left: 30px;font-size: 20px;">{{ tile.value.left.value + tile.value.left.suffix }}</span>
            <span style="position: absolute;top: 62px;left: 104px;font-size: 20px;">{{ tile.value.right.value + tile.value.right.suffix}}</span>
        </div>
        <div class="tile-touch-layer"></div>
    </div>
</div>