<div class="tile" style="width:212px;">
    <div class="tile-text">
        <img alt="{{ _('Icon') }}" src="{{ url_for('static', filename='img/icons/' + tile.config.icon) }}" class="tile-icon icon-invert" style="left: 27px;top: 16px">
        <div style="width: 100px;height: 40px;position: absolute;left: 100px;top: 14px;">
            <span class="tile-label" style="font-size: 18px;top: 0;height: 46px;width: 100px;">{{ tile.label }}</span>
        </div>
        <div style="position: absolute;top: 62px;left: 30px;font-size: 20px;"><span class="tile-value-left">{{ tile.value.left.value }} </span><span class="tile-suffix-left"> {{ tile.value.left.suffix }}</span></div>
        <div style="position: absolute;top: 62px;left: 104px;font-size: 20px;"><span class="tile-value-right">{{ tile.value.right.value }} </span><span class="tile-suffix-right"> {{ tile.value.right.suffix }}</span></div>
    </div>
</div>