<div class="grid-square">
    <div class="tile enable-hammer" data-id="{{ tile.data.id }}"  data-type="{{ tile.type }}">
        <div class="tile-text">
            <div class="tile-display">
                <div class="tile-value-value tile-input-value">{{ tile.value.value }}</div>
                <span class="tile-value-suffix" style="font-size: 15px">{{ tile.value.suffix }}</span>
            </div>
            <span class="tile-label">{{ tile.label }}</span>
            <span class="tile-status">TODO ago</span>
        </div>
        <div class="tile-touch-layer"></div>
    </div>
</div>