/* Form and container */
.form {
    margin-left: auto;
    margin-right: auto;
    border-radius:12px;

    max-width: 510px;
    padding:35px;
}

.light .form {
    background-color: var(--main-light-bg-first);
    box-shadow: 0 0 40px 0 var(--main-shadow-first);
}

.dark .form {
    background-color: var(--main-dark-bg-first);
    color: var(--main-dark-fg-first);
    box-shadow: 0 0 60px 0 var(--main-shadow-first);
}

.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.auth-container {
    padding: 15px;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.dark .auth-container {
    color: var(--main-dark-fg-first);
}



/* Fields */
#username, #reg-username {
    text-transform: lowercase;
}

.form-field{
    margin-bottom: 60px;
}

.field {
    text-align: left;
    width: 100%;
    position: relative;
    margin: 3rem auto 1rem;
    transition: 500ms;
}

.dark .field{
    border-bottom: 2px dashed rgba(223, 223, 223, 0.08);
}

.light .field {
    border-bottom: 2px dashed rgb(223, 223, 223);
}

.input{
    z-index: 10;
    width: 100%;
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0.25rem 0;
    background: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    transition: border 500ms;
}

.dark .input{
    color: var(--main-dark-fg-first);
}

.label {
    font-size: 1.2rem;
    cursor: text;
}
.light .label {
    color: var(--main-light-fg-first);
}

.dark .label {
    color: var(--main-dark-fg-first);
}



/* Animation animation */
.field::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--main-color-first);
    transform: scaleX(0);
    transform-origin: 0;
    opacity: 0;
    transition: all 500ms ease;
    top: 2px;
}

.field:focus-within {
    border-color: transparent;
}

.field:focus-within::after {
    transform: scaleX(1);
    opacity: 1;
}

.label {
    z-index: 0;
    top: 38px;
    left: 0;
    position: absolute;
    transform: translateY(-2rem);
    transform-origin: 0;
    transition: transform 400ms;
}

/* Autofill */

.light input:-webkit-autofill,
.light input:-webkit-autofill:hover,
.light input:-webkit-autofill:focus,
.light input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--main-light-bg-first) inset !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--main-dark-bg-first) inset !important;
}

.dark input:-webkit-autofill {
    -webkit-text-fill-color: var(--main-dark-fg-first) !important;
}

input:-webkit-autofill + .label {
    transform: scale(0.8) translateY(-5rem);
    opacity: 1;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-5rem);
    opacity: 1;
  }

.register-pass-label {
    left: 20px;
    position: relative;
}

.reg-password-valid:before {
    position: relative;
    left: -4px;
    top: 1px;
    content: "✔";
}

.reg-password-invalid:before {
    position: relative;
    left: -4px;
    top: 1px;
    content: "✖";
}