body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
html,
body {
    height: 100%;
    margin: auto;
}

.exit-edit-mode-button {
    position: absolute;
    display: none;
    top: 10px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000000b3;
    right: 155px;
    border-radius: 10px;
    line-height: 30px;
    text-align: right;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}
.dark .exit-edit-mode-button {
    background-color: rgba(34, 40, 49, 0.95);
    color: #fff;
}
.page_settings_icon {
    position: absolute;
    width: 24px;
    right: -33px;
    top: -4px;
}

.dark .icon-invert {
    filter: invert(0.90);
}

.page-menu-status-wrapper {
    position: absolute;
    top: 10px;
    min-width: 95px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000000b3;
    right: 6px;
    border-radius: 10px;
    line-height: 30px;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 50px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.dark .page-menu-status-wrapper {
    background-color: rgba(34, 40, 49, 0.95);
    color: #fff;
}

.page-menu-status-wrapper:hover {
    cursor: pointer;
}

.page-menu-status-wrapper-line {
    width: 20px;
    height: 30px;
    position: absolute;
    top: -3px;
    right: 38px;
    border-right: 2px solid #0000002b;
    transform: rotate(20deg);
}

.dark .page-menu-status-wrapper-line {
    border-right: 2px solid #ffffff2f;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: #333333;
}

.grid-square {
    display: inline-block;
    margin: 6px;
}

.text-primary {
    color: #ffffff;
}

.modal-graph {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.end-block {
    margin-bottom: 200px;
    float: left;
    position: relative;
    overflow: hidden;
}

.dark hr {
    color: white; background-color: white
}

.dropdown-menu {
    background-color: rgba(255,255,255,0.95);
}
.dark .dropdown-menu {
  background-color: #222831;
  color: #ddd;
}

.dark .dropdown-item:hover {
  background-color: #222831;
  color: #ddd;
}

.dark .btn-outline-info {
    color: #bbe1fa;
    border-color: #bbe1fa;
}