/* General */
.dark .modal-here input {
    color: var(--main-dark-fg-first);
    background-color: var(--main-dark-bg-second);
}

.dark .modal-here input:read-only{
    color: var(--main-dark-fg-first);
    background-color: var(--main-dark-bg-first);
}

.dark .close {
    color: var(--main-dark-fg-first);
}

textarea {
    font-size: 11px !important;
    margin-top: 7px;
    margin-bottom: 20px;
}

.dark textarea {
    font-size: 11px !important;
    background-color: var(--main-dark-bg-first) !important;
    color: var(--main-dark-fg-first) !important;
}



/* Modal normal */
.dark .modal-title {
  color: var(--main-dark-fg-first);
}



/* Modal edit */
.modal-edit-title {
    font-size: 20px;
    font-weight: 600;
}

/* Modal edit types */
#tile-type, #modal-type {
    /* TODO make centering of buttons - (use padding centering) */
    /*text-align: justify;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;*/
}

.modal-edit-tile-type {
    width: auto;
    margin: 3px;
}

/* Modal edit icons */
.modal-edit-icons {
    padding-bottom: 10px;
    padding-top: 10px;
}

.modal-edit-icon {
    height: 35px;
    transition: 0.5s;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 5px;
}

/* Modal edit items */
.modal-items-edit {
    margin-top: 20px;
}

.modal-edit-item-dropdown {
    margin-left: 20px;
    margin-top: 15px;
}

.list-group-item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.list-group-item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.dark div.modal-edit-item {
    background-color: var(--main-dark-bg-first);
    border-color: var(--main-dark-bg-fifth);
}

.modal-edit-item-delete {
    margin-top: 20px;
}
