.slider{
    height: 30px;
}

.sliderModule{
    position: relative;
    display: block;
}

.sliderModuleLabel{
    font-weight: bold;
    font-size: 15px;
}

.light .hx-slider-range {
  background-color: rgb(23, 162, 184);
}

.dark .hx-slider-range {
  background-color: rgb(12, 66, 146);
  color: #000;
}

.dark .hx-slider-inner:before {
  background-color: rgb(90,90,90);
}
