.tile {
  background-color: var(--tile-light-bg-second);
  cursor: pointer;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 10px 0 var(--main-shadow-first);
  -moz-box-shadow: 3px 3px 10px 0 var(--main-shadow-first);
  box-shadow: 3px 3px 10px 0 var(--main-shadow-first);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.add_new_tile_element {
  transform: scale(0.7);
  transition: all 0.5s;
  display: inline-block;
  margin: 0 6px;
  box-shadow: none;
}


.dark {
  .tile {
    color: var(--tile-dark-fg-first);
    background-color: var(--tile-dark-bg-first);
  }

  .tile-display {
    color: var(--tile-dark-fg-second);
  }

  .tile-active {
    background-color: var(--tile-dark-bg-second);
  }

  .add-tile-alpha {
    background-color: var(--tile-dark-bg-first-alpha)
  }
  .add_new_tile_element:hover {
    background-color: var(--tile-dark-bg-first-alpha-half) !important;
  }
}
.light  {
  .tile-active {
    background-color: var(--tile-light-bg-first);
  }

  .add-tile-alpha {
    background-color: var(--tile-light-bg-second-alpha);
  }

  .add_new_tile_element:hover {
    background-color: var(--tile-light-bg-second-alpha-half) !important;
  }
}

.tile-icon{
  height: 38%;
  position: absolute;
}

.tile-label{
  top: 23px;
  max-width: 80px;
  height: 65px;
  font-size: 15px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin: 0 auto;
  line-height: 1em;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.tile-status{
  font-size: 11px;
  position: absolute;
  margin-top: 5px;
  color: var(--tile-light-fg-second);
}

.tile-display{
  font-size: 30px;
  margin: 0;
  color: #3b3b3b;
  text-align: center;
  position: absolute;
  line-height: 35px;
  display: -webkit-inline-box;
}

.tile-text {
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px
}

.toggle-dot {
  position: absolute;
  right: 7px;
  top: 7px;
  height: 7px;
  width: 7px;
  background-color: rgba(255, 0, 0, 0.28);
  border-radius: 50%;
  display: inline-block;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
 }

.dark .tile-sortable-move > * {
  background-color: var(--tile-dark-bg-first-alpha);
}

.light .tile-sortable-move > * {
  background-color: var(--tile-light-bg-second-alpha);
}

.ac-glyph {
  position:relative;
  display: inline-block;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  width: 23px;
  height: 23px;
  padding: 0;
  /* border-color: white; */
  border-color: transparent;
  margin-right: 1px;
  transition: all 0.3s;
}

/* .light .ac-glyph{
  border-color: rgb(160, 159, 159);
} */

.ac-glyph-text{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 85%;
  font-size: 11px;
}

.dark .ac-glyph-active{
  background-color: var(--tile-dark-bg-third);
}

.light .ac-glyph-active{
  background-color: var(--tile-light-bg-third);
}
