.modal-toggle {
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-toggle-label {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px; 
    float: right;
}
  
.modal-toggle-label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.modal-toggle-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.light .modal-toggle-round {
    background-color: var(--main-dark-fg-third);
}

.dark .modal-toggle-round {
    background-color: var(--main-dark-fg-fourth);
}

.modal-toggle-round:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    -webkit-transition: .4s;
    transition: .4s;
}

.light .modal-toggle-round:before {
    background-color: var(--main-dark-fg-first);
}

.dark .modal-toggle-round:before {
    background-color: var(--main-dark-fg-second);
}

input:checked + .modal-toggle-round {
    background-color: var(--main-color-first);
}

input:focus + .modal-toggle-round {
    box-shadow: 0 0 1px var(--main-color-first);
}

input:checked + .modal-toggle-round:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.modal-toggle-round {
    border-radius: 34px;
}

.modal-toggle-round:before {
    border-radius: 50%;
}