.page_settings_icon{
    display: none;
}

.btn-Page{
    width: 100%;
    margin-top: 20px;
}

.edit_list_source_item{
    cursor: pointer;
}

.edit_list_source_class{
    /* width: fit-content;
    width: max-content; */
    flex-flow: wrap;
    cursor: pointer;
}

.edit_list_item_dropdown{
    background-color: transparent;
    margin-bottom: 5px;
    width: 100%;
}

.edit_list_dropdown{
    width: 100%;
    /* height: 120px; */
    width: fit-content;
    width: max-content;
    display: none;
    margin-top: 15px;
}

.edit_list_dropdown_show{
    display: block;
    background-color: transparent;
}

.edit-modal-items{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
}

.btn-choose-tile-modal{
    width: 80%;
    left: 10%;
}

.edit-modal-list{
    margin-top: 40px;
    margin-bottom: 90px;
}

.edit-tile{
    background-color: transparent;
}

.edit-modal{
    background-color: transparent;
    display: none;
}

.device{
    display: none;
    width: 100%;
    position: relative;
    left: 2%;
    margin-top: 20px;
    position: relative;
    background-color: transparent;
    float: left;
}

.radio-btn{
    margin-top: 20px;
    margin-bottom: 20px;
}

.input_center{
    text-align: center;
    font-size: 64px;
    line-height: 40px;
    width: 80%;
    color: #fafafa;
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.4);  
}

.input_left{
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    color: #fafafa;
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.4);  
}

.inputHeader{
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 40px;
}

@media (min-width: 992px){
    .container-fluid {
          width: 85%;
    }
}

.previewWrapper{
    height: 95vh;
    top: 20px;
    border-style: solid;
    border-width: 3px;
    position: relative;
    margin-bottom: 50px;
}

.editWrapper{
    height: 95vh;
    top: 20px;
    border-style: solid;
    border-width: 3px;
    background-color: burlywood;
    position: relative;
    overflow: scroll;
}

.editHeader{
    font-size: 40px;
    line-height: 40px;
    width: 100%;
    margin-bottom: 80px;
    color: #fafafa;
    margin: 40px;
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
    
}

.editWindow{
    width: 100%;
    height: 90%;
    background-color: transparent;
    position: relative;

}