.slider[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 180px;
    height: 210px;
    padding: 0 5px;
    position: absolute;
    z-index: 2;
}

.slider[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  .slider[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  .slider[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  .slider[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }


.rgb-slider[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 100%;
    height: 102%;
    position: absolute;
    z-index: 2;
    top: -3px;
    background: transparent; /* Otherwise white in Chrome */  
    opacity: 0;
}

.rgb-slider[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

.rgb-slider[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  appearance: none;
  width: 0;
  height: 0;
}

.rgb-slider[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  background: transparent;
}

.rgb-slider[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}