<!DOCTYPE html>
<html lang="{{ _("en-GB") }}">
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/animate/animate.min.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/static/favicon.png') }}" type="image/x-icon">

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/prevent-hack.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/backgrounds.css') }}">

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper/popper.min.js') }}" defer></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}" defer></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap-notify.min.js') }}" defer></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/socket_io/socket.io.js') }}" defer></script>

        <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/prevent_hack.js') }}" defer></script> -->

        <script src="{{ url_for('babel_catalog') }}"></script>

        <style>
            .bcg-normal {
                background-image: url("{{ 'img/backgrounds/' + background_image }}");
            }
        </style>
        {% block head %} {% endblock %}

        <meta charset="UTF-8">
        <meta name="description" content="{{ _('Smart home') }}">
        <meta name="subject" content="{{ _('Smart home') }}">
        <meta name="keywords" content="{{ _('control, use, have fun') }}">
        <meta name="author" content="Fryčák Tadeáš; Szkandera Filip">
        <meta name="language" content="{{ _('en-GB') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta http-equiv="refresh" content="4800">

        <title>{% block title %} {% endblock %} - {{ _("SH") }}</title>
    </head>

    <body lang="{{ _("en-GB") }}" class="{% if mode == 'dark' %}dark{% else %}light{% endif %}" {% if edit == True %}is_edit_active="true"{% else %}is_edit_active="false"{% endif %}>
        <div class="bcg-normal"></div>
        <div class="bcg-edit"></div>
        <div class="preloader">
            {% include "preloader.html" %}
        </div>

        {% block content %} {% endblock %}

        <div class="modal-here"></div>
        <div class="modal-settings"></div>
    </body>
</html>