<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="600">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, public, max-age=0">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">

        <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/swiper/css/swiper.min.css">
        <link type="text/css" rel="stylesheet" href="/static/animate/animate.min.css">

        <link type="text/css" rel="stylesheet" href="/static/main/css/main.css">
        <link type="text/css" rel="stylesheet" href="/static/edit_main.css">
        <link type="text/css" rel="stylesheet" href="/static/main/css/tiles.css">
        <link type="text/css" rel="stylesheet" href="/static/main/css/toggles.css">
        <link type="text/css" rel="stylesheet" href="/static/main/css/time_pickers.css">
        <link type="text/css" rel="stylesheet" href="/static/main/css/progress_bars.css">
        <link type="text/css" rel="stylesheet" href="/static/main/css/sliders.css">
        <link type="text/css" rel="stylesheet" href="/static/main/css/swiper.css">

        <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/static/sortable/Sortable.min.js"></script>
        <script type="text/javascript" src="/static/sortable/st/prettify/prettify.js"></script>
	    <script type="text/javascript" src="/static/sortable/st/prettify/run_prettify.js"></script>

        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap-notify.min.js"></script>
        <script type="text/javascript" src="/static/hammer/hammer.js"></script>
        <script type="text/javascript" src="/static/swiper/js/swiper.min.js"></script>
        <script type="text/javascript" src="/static/socket-io/socket.io.js"></script>

        <script type="text/javascript" src="/static/edit_main.js"></script>

        <style>
            .previewWrapper{
                background-image: url("::background_image::");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .editWrapper{

                background-image: url("https://cdn.pixabay.com/photo/2014/05/24/00/07/woven-cloth-352481_960_720.jpg");
                /* background-image: url("/static/images/static/edit_bg.jpg"); */
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .body{
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        </style>

        <title>ChD - edit</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-sm-6">
                    <div class="previewWrapper">
                        <div class="swipe-body">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    ::content::
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-sm-6">
                    <div class="editWrapper">
                        <div class="editWindow">
                            <div class="inputHeader">
                                <input style="font-size: 40px; padding: 10px;" type="text" height="100" maxlength="40" class="input_center" id="pageName" placeholder="Page Name">
                                <button type="button" class="btn btn-success btn-Page" id="btn-addPage" >Přidat novou stránku</button>
                                <button type="button" class="btn btn-success btn-Page" id="btn-addItem">Přidat nový item</button>
                                <button style="background-color:#fff;" type="button" class="btn btn-outline-danger btn-Page" id="btn-deletePage">Smazat tuhle stránku</button>
                            </div>

                            <div class="device">
                                <div class="btn-choose-tile-modal btn-group btn-group-toggle radio-btn" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="options" id="opt-tile" checked>Tile
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="options" id="opt-modal">Modal
                                    </label>
                                </div>
                                <div class="edit-tile">
                                    <input style="font-size: 25px; padding: 10px; width: 80%;" type="text" height="100" maxlength="30" class="input_left" id="itemName" data-caller="TEXT" placeholder="Item Name">
    
                                    <!-- !!!!!! --- TADY DROPDOWN TADE! ---- -->
                                    <!-- + Výběr z obrázků pro ikony př Lampa, Zvonek... -->
                                    <br>Tady bude Dropdown pro ikony, TADE! :D<br>
    
                                    <div class="btn-group btn-group-toggle radio-btn" data-toggle="buttons">
                                            <label class="btn btn-secondary active">
                                            <input type="radio" name="options" id="opt-percentage" checked>Procenta
                                            </label>
                                            <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="opt-toggle">Přepínač
                                            </label>
                                    </div>
                                    <br><i>ID:</i><input style="font-size: 15px; padding: 2px; width: 100%;" type="text" height="100" maxlength="30" class="input_left" id="Tile_id" data-caller="TEXT">
                                    <br><i>MQQT Path:</i><input style="font-size: 15px; padding: 2px; width: 100%;" type="text" height="100" maxlength="30" class="input_left" id="MQQT_Path" data-caller="TEXT">
                                </div>

                                <div class="edit-modal">
                                    <div class="edit-modal-list">
                                        <div id="edit_list_source" class="edit_list_source_class list-group col" data-destination='false'>
                                            ::options::
                                        </div>
                                    </div>

                                    <div class="edit-modal-items">
                                        <div id="edit_list_dest" class="list-group col" data-destination='true'>
                                                <!-- <div class="edit_source_dest_item list-group-item">Toggle<div class="edit_list_dropdown"></div></div>
                                                <div class="edit_source_dest_item list-group-item">Toggle</div>
                                                <div class="edit_source_dest_item list-group-item">Toggle</div>
                                                <div class="edit_source_dest_item list-group-item">Time Picker</div>
                                                <div class="edit_source_dest_item list-group-item">Graph</div> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>