{% extends "auth/base.html" %}

{% block title %}{{ _("Error") }}{% endblock %}

{% block script %}
    <script type="text/javascript">
        setTimeout(() => {window.location.href = "http://" + window.location.hostname + ":" + window.location.port;}, 10000);
    </script>
{% endblock %}

{% block centered %}
    <style>
    .horizontal-middle {
        max-width: 510px;
    }
    #status-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        max-width: 30%;
    }
    /* Media */
    @media (max-width: 500px) {
        #status-icon {
            display: none;
        }
    }
    </style>
    <div class="row">
        <div class="col" id="status-icon">
            <img alt="{{ _('error icon') }}" style="width:100%" src="{{ url_for('static', filename='img/static/error.png') }}">
        </div>
        <div class="col">
            <p class="h4 mb-4" id="header">
                <b>{{ _("Error") }} {{ header }}</b>
            </p>
            <p>{{ message }}</p>
        </div>
    </div>
{% endblock %}
