{% extends "base.html" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/swiper/swiper.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/range-slider/range-slider.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fotorama/fotorama.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/clockpicker/bootstrap-clockpicker.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/other.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/progress_bars.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/time_pickers.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/toggles.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/sliders.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/swiper.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/tiles.css') }}">

    {% if not slides %}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    {% endif %}
    <script type="text/javascript">
        function store(object, attribute, value=null) {
          if (value === null) {
            let data =  $(object).attr("data-" + attribute);

            if (data !== undefined) {
              if (data === "true") return true;
              else if (data === "false") return false;
              else if (data === "null") return null;
              else if (data.includes("{") || data.includes("[")) {
                try {  // object
                  return JSON.parse(data);
                } catch {  // string
                  return data;
                }
              }
            }
            return data;
          }
          else {
            if (typeof value === "object") {
              value = JSON.stringify(value);
            }
            return $(object).attr("data-" + attribute, value);
          }
        }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.ui.touch-punch.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sortable/sortable.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/swiper/swiper.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment/moment.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chartjs/Chart.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hammer/hammer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fotorama/fotorama.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/clockpicker/bootstrap-clockpicker.min.js') }}" defer></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/acom.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal_edit_events.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal_events.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/edit_events.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal_init.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/events.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/swiper.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/player.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tiles.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vue/v-calendar.umd.min.js') }}" defer></script>
{% endblock %}

{% block title %}{{ _("Home") }}{% endblock %}

{% block content %}
    <div class="swipe-body">
        <script type="text/javascript">
          let tabID = sessionStorage.tabID && sessionStorage.closedLastTab !== '2' ? sessionStorage.tabID : sessionStorage.tabID = Math.random();
          sessionStorage.closedLastTab = '2';
          $(window).on('unload beforeunload', function() {
            sessionStorage.closedLastTab = '1';
          });

          let refreshes = {{ probably | tojson | safe }};
          for (let refresh in refreshes) {
              if (refreshes[refresh]["tab_id"] === tabID) {
                  if (refreshes[refresh]["modal"]["id"] !== false) {

                      store($(".modal-here"), "tile-id", refreshes[refresh]["modal"]["id"]);
                  }
                  if (refreshes[refresh]["modal"]["type"] !== false) {
                      store($(".modal-here"), "type", refreshes[refresh]["modal"]["type"]);
                  }

                  store($(".swipe-body"), "slide", refreshes[refresh]["slide"]);
                  store($(document.body), "is-edit-active", refreshes[refresh]["edit"]);
                  break;
              }
          }
          for (let refresh in refreshes) {
              if (refreshes[refresh]["tab_id"] === "everyone") {
                  if (refreshes[refresh]["modal"]["type"] !== false) {
                      store($(".modal-here"), "type", refreshes[refresh]["modal"]["type"]);
                  }
                  break;
              }
          }
        </script>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% if slides %}
                    {% for slide in slides %}
                        {% include "slide.html" %}
                    {% endfor %}

                {% else %}
                    <div class="middle-container bcg-normal">
                        <div class="vertical-middle text-center">
                            <div class="horizontal-middle">
                                <p class="h4 mb-4">{{ _("Let's start") }}</p>
                                    <p>{{ _("Let's make your first slide, you can add this slide by the button bellow. After that, you can add your tiles in edit mode.") }}</p>
                                    <button class="btn btn-info" id="append-slide-start">{{ _("Add new slide") }}</button>
                                    <script type="text/javascript" defer>
                                        $(document.body).on("click", "#append-slide-start", function() {
                                          $(".middle-container").show().fadeOut(1000, function() {$(".middle-container").remove()});
                                          socketio.emit("slide_append", {"slide_index": 0});
                                        });
                                    </script>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div id="swiper-pagination" class="swiper-pagination"></div>
        </div>
    </div>
{% endblock %}