{% extends "modal.html" %}

{% block class %}
    modal-normal
{% endblock %}

{% block title %}
    {{ tile.label }}
{% endblock %}

{% block content %}
    {% if tile.type == "alarm_clock" %}
        <div class="modal-static">
        {% set group = "modal-static" %}
            {% for key, value in tile["value"].items() %}
                {% set item = {"type": "toggle", "config": {"label": _(refactor(key)), "id": key}, "value": value} %}
                {% include "items/item.html" %}
            {% endfor %}
        </div>
        <!-- TODO modal-static, modal-dynamic??????? -->
        {% include "items/separator.html" %}
        {% include "items/separator.html" %}
    {% endif %}

    <div class="modal-dynamic">
        {% set group = "modal-dynamic" %}
        {% for item in tile.modal %}
            {% include "items/item.html" %}
        {% endfor %}
    </div>
{% endblock %}