{% extends "modal.html" %}

{% block title %}
    {{ tile.label }}
{% endblock %}

{% block content %}
    {% if tile.type == "alarm_clock" %}
        <div data-static>
            {% for key, value in tile["value"].items() %}
                {% set item = {"type": "toggle", "data": {"label": _(refactor(key)), "id": key}, "value": value} %}
                {% include "modal/toggle.html" %}
            {% endfor %}
        </div>
        {% include "modal/separator.html" %}
        {% include "modal/separator.html" %}
    {% endif %}

    {% if tile.modal == [] %}
        <br>
        <div class="text-center">{{ _("There are no items :(") }}</div>
        <br>
    {% else %}
        {% for item in tile.modal %}
            {% include "modal/" + item["type"] + ".html" %}
        {% endfor %}
    {% endif %}
{% endblock %}