<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% block head %}
                    <h5 class="modal-title" id="modal-title">{% block title %} {% endblock %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endblock %}
            </div>
            <div class="modal-body">
                {% block content %} {% endblock %}
            </div>
            <div class="modal-footer">
                {% block footer %}
                    <button type="button" class="btn btn-info" data-dismiss="modal">{{ _("Close") }}</button>
                {% endblock %}
            </div>
        </div>
    </div>
</div>