{% extends "modal.html" %}

{% block head %}
    <input type="text" class="unfocus-on-enter modal-title modal-edit-title form-control form-control-lg" id="tile_name" maxlength="40" placeholder="{{ _('Tile name') }}" autocomplete="off">
{% endblock %}

{% block content %}
    <form>
        <div class="form-group-sm row">
            <label for="tile-type" class="col-sm-3 col-form-label">{{ _("Tile type") }}</label>
            <div class="col-sm-9">
                <div style="position:relative; margin-bottom:6px" id="tile-type" class="btn-group-justified btn-group-toggle" data-toggle="buttons"> <!--modal_edit_tile_types-->
                    {% for tile_name in tile_types %}
                        {% include "modal_edit/tile_type_btn.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include "modal_edit/tile_values.html" %}

        <div class="form-group-sm row">
            <label for="tile-id" class="col-sm-3 col-form-label">{{ _("Tile ID") }}</label>
            <div class="col-sm-9">
                <script type="text/javascript">
                    function AvoidSpace(event) {
                        let k = event ? event.which : window.event.keyCode;
                        if (k === 32) return false;
                    }
                </script>
                <input id="tile-id" class="unfocus-on-enter form-control form-control-sm" type="text" maxlength="40" placeholder="{{ _('Tile ID') }}" value="{{ tile_id }}" onkeypress="return AvoidSpace(event)">
            </div>
        </div>

        <div class="form-group-sm row">
            <label for="tile-mqtt-path" class="col-sm-3 col-form-label">{{ _("MQTT path") }}</label>
            <div class="col-sm-9">
                <input id="tile-mqtt-path" class="unfocus-on-enter form-control form-control-sm" type="text" placeholder="{{ _('MQTT path') }}" readonly>
            </div>
        </div>

    </form>
    <hr>

    <h6 style="margin-bottom:20px;">{{ _("Add modal items") }}</h6>

    <div id="modal-type">
        {% for item, value in item_config.items() %}
            {% if value.visible == True %}
                {% include "modal_edit/modal_type_btn.html" %}
            {% endif %}
        {% endfor %}
    </div>

    <hr>

    <h6 style="display:inline-block;margin-bottom:0">{{ _("Modal items") }}</h6>
    <div style="display: inline-block;" class="btn-group float-right">
        <button type="button" id="unpack-items" class="btn btn-{% if mode == "dark" %}dark{% else %}light{% endif %} btn-sm">{{ _("Unpack all") }}</button>
        <button type="button" id="collapse-items" class="btn btn-{% if mode == "dark" %}dark{% else %}light{% endif %} btn-sm">{{ _("Pack all") }}</button>
    </div>
    <div class="modal-items-edit">
        <div id="sortable" class="modal_items_edit_sortable list-group col">
            {% for item in modal %}
                {% set group = "modal-edit-" + item.id %}
                {% include "modal_edit/item_values.html" %}
            {% endfor %}

        </div>
        <script type="text/javascript">
            new Sortable(sortable, {
                handle: ".menu-handle", // handle"s class
                animation: 150,
                onEnd: function (/**Event*/evt, /**Event*/originalEvent) {
                    let old_index = evt.oldDraggableIndex;
                    let new_index = evt.newDraggableIndex;
                    let tileID = store($(".modal-here"), "tile-id");

                    socketio.emit("modal_item_index", {
                        "tile_id": tileID,
                        "old_index": old_index,
                        "new_index": new_index
                    });
                },
            });
        </script>
    </div>
{% endblock %}

{% block footer %}
    <button type="button" id="scroll-up" class="mr-auto btn btn-{% if mode == "dark" %}dark{% else %}light{% endif %}"><img alt="{{ _('Up') }}" class="icon-invert" src="{{ url_for('static', filename='img/static/arrow-up.png') }}" height="16"></button>
    <button type="button" class="col-5 mr-auto btn btn-sm btn-outline-info" data-dismiss="modal">{{ _("Close") }}</button>
    <button type="button" id="delete-tile" class="trash-modal btn btn-outline-danger">
        <span class="iconify" style="font-size:25px;" data-icon="jam-trash-alt-f" data-inline="false"></span>
    </button>
{% endblock %}