{% extends "modal.html" %}

{% block title %}
    {{ _("Settings") }}
{% endblock %}

{% block content %}
    <div class="modal-settings-page-item">
        <span style="margin-right: 100%;">{{ _("Appearance") }}</span>

        <div class="modal-settings-page-appearance-wrapper" data-selected="false">
            <div class="modal-settings-page-appearance" data-type="light">
                <img alt="{{ _("Light") }}" src="{{ url_for('static', filename='/img/static/mode/light.png') }}" class="modal-settings-page-appearance-img">
                <div class="modal-settings-page-appearance-label">{{ _("Light") }}</div>
            </div>

            <div class="modal-settings-page-appearance" data-type="dark" data-selected="false">
                <img alt="{{ _("Dark") }}" src="{{ url_for('static', filename='/img/static/mode/dark.png') }}" class="modal-settings-page-appearance-img">
                <div class="modal-settings-page-appearance-label">{{ _("Dark") }}</div>
            </div>

            <div class="modal-settings-page-appearance" data-type="smart" data-selected="false">
                <img alt="{{ _("Smart") }}" src="{{ url_for('static', filename='/img/static/mode/smart.png') }}" class="modal-settings-page-appearance-img">
                <div class="modal-settings-page-appearance-label">{{ _("Smart") }}</div>
            </div>
        </div>

        <style>
            .modal-settings-page-appearance-img {
                width: 100%;
                height: 100%;
            }
            .modal-settings-page-appearance {
                cursor: pointer;
                width: 100px;
                height: 100px;
                display: inline-block;
                margin-right: 30px;
            }
            .modal-settings-page-appearance-wrapper {
                margin-top: 20px;
            }
            .modal-settings-page-appearance-label {
                text-align: center;
                margin-top: 5px;
            }
        </style>
    </div>

    <hr>

    <span style="margin-right: 100%;">{{ _("Background") }}</span>

    <div style="position:relative;margin-top: 6px; margin-bottom:6px" id="background-type" class="btn-group-justified btn-group-toggle" data-toggle="buttons">
        <label style="margin-bottom:6px;" class="btn btn-secondary background-type {% if current_background == "smart" %}active{% endif %}">
            <input type="radio" data-type="smart" name="options" autocomplete="off">
            <span>{{ _("Smart") }}</span>
        </label>

        <label style="margin-bottom:6px;" class="btn btn-secondary background-type {% if current_background == "random" %}active{% endif %}">
            <input type="radio" data-type="random" name="options" autocomplete="off">
            <span>{{ _("Random") }}</span>
        </label>

        <label style="margin-bottom:6px;" class="btn btn-secondary background-type {% if current_background == "light" %}active{% endif %}">
            <input type="radio" data-type="light" name="options" autocomplete="off">
            <span>{{ _("Light") }}</span>
        </label>

        <label style="margin-bottom:6px;" class="btn btn-secondary background-type {% if current_background == "dark" %}active{% endif %}">
            <input type="radio" data-type="dark" name="options" autocomplete="off">
            <span>{{ _("Dark") }}</span>
        </label>

        <label style="margin-bottom:6px;" class="btn btn-secondary background-type {% if current_background != "smart" and current_background != "light" and current_background != "dark" and current_background != "random" %}active{% endif %}">
            <input type="radio" data-type="static" name="options" autocomplete="off">
            <span>{{ _("Static") }}</span>
        </label>
    </div>

    <div class="fotorama" data-auto="false" style="display:{% if current_background != "smart" and current_background != "light" and current_background != "dark" and current_background != "random" %}block{% else %}none{% endif %};">
        <a href="{{ url_for('static', filename='img/backgrounds/original/' + current_background) }}"></a> <!-- TODO - data-thumb="" - přidat thumbnail v malé velikosti, třeba HD -->
        {% for key, value in backgrounds.items() %}
            {% if value["type"] == "light" and key != current_background %}
                <a href="{{ url_for('static', filename='img/backgrounds/original/' + key) }}"></a> <!-- TODO - data-thumb="" - přidat thumbnail v malé velikosti, třeba HD -->
            {% endif %}
        {% endfor %}
        {% for key, value in backgrounds.items() %}
            {% if value["type"] == "dark" and key != current_background %}
                <a href="{{ url_for('static', filename='img/backgrounds/original/' + key) }}"></a> <!-- TODO - data-thumb="" - přidat thumbnail v malé velikosti, třeba HD -->
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}