{% extends "modal.html" %}

{% block title %}
    {{ _("User list") }}
{% endblock %}
    

{% block content %}
    {% for user in users %}
    <div class="list-group-item modal-edit-item">
    {#    <img alt="{{ _('Menu') }}" src="{{ url_for('static', filename='/img/static/menu.png') }}" class="menu-handle icon-invert" style="height: 13px;margin-right: 10px;width:15px; cursor:pointer;">#}
        <span style="font-weight:bold;font-size:15px;">[Owner] {{ user.first_name | title }} {{ user.last_name | title }}</span>
            <!-- <span style="margin-left:10px;margin-right:10px;">-</span> -->
            <!-- <span style="font-style:italic;">{{ user.username }}</span> -->
            <!-- <span style="">[Owner]</span> -->

        <div class="modal-edit-item-dropdown">
            <form>
                <div class="form-group-sm row" style="margin-bottom: 10px;">
                    <div class="col-sm-3" style="white-space: nowrap;">
                        {{ _("First name") }}:
                    </div>
                    <div class="col-sm-9">
                        {{ user.first_name | title }}
                    </div>
                </div>
                <div class="form-group-sm row" style="margin-bottom: 10px;">
                    <div class="col-sm-3" style="white-space: nowrap;">
                        {{ _("Last name") }}:
                    </div>
                    <div class="col-sm-9">
                        {{ user.last_name | title }}
                    </div>
                </div>
                <div class="form-group-sm row" style="margin-bottom: 10px;">
                    <div class="col-sm-3" style="white-space: nowrap;">
                        {{ _("Username") }}:
                    </div>
                    <div class="col-sm-9">
                        {{ user.username }}
                    </div>
                </div>
                <!-- <div class="form-group-sm row" style="margin-bottom: 10px;">
                    <div class="col-sm-3" style="white-space: nowrap;">
                        {{ _("Mode") }}:
                    </div>
                    <div class="col-sm-9">
                        {{ user.mode | title }}
                    </div>
                </div> -->
                <div class="form-group-sm row" style="margin-bottom: 10px;">
                    <div class="col-sm-3" style="white-space: nowrap;">
                        {{ _("Role") }}
                    </div>
                    <div class="col-sm-9">
                        <span class="modal-item" data-type="dropdown" data-value="{{ user.role | title }}">
                            <select data-menu data-user-id="{{ user.id }}" class="user-role-dropdown">
                                <option value="owner" {% if user.role == "owner" %}selected{% endif %}>{{ _("Owner") }}</option>
                                <option value="administrator" {% if user.role == "administrator" %}selected{% endif %}>{{ _("Administrator") }}</option>
                                <option value="manager" {% if user.role == "manager" %}selected{% endif %}>{{ _("Manager") }}</option>
                                <option value="visitor" {% if user.role == "visitor" %}selected{% endif %}>{{ _("Visitor") }}</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group-sm row" style="margin-bottom: 10px;">
                    <div class="col-sm-3" style="white-space: nowrap;">
                        {{ _("Register date") }}:
                    </div>
                    <div class="col-sm-9">
                        {{ user.register_date }}
                    </div>
                </div>

                <div class="form-group-sm row">
                    <div class="col-sm-12">
                        Logs:
                    <textarea class="form-control" id="logs-{{ user.id }}" rows="7" readonly>{{ user.logs | join('\n') }}</textarea>
                    </div>
                </div>
            </form>
            
            <button type="button" class="btn btn-sm btn-outline-danger">
                <span>{{ _("Delete") }}</span>
            </button>
        </div>
    </div>
    {% endfor %}
    <script>
        $(document).ready(function() {
            // Initialize custom dropdowns
            $(".user-role-dropdown").each(function() {
                let dropdown = $(this);
                let modalItem = dropdown.closest('.modal-item');
                let userId = dropdown.attr("data-user-id");

                item(modalItem);

                modalItem.on('value-transmit', function() {
                    let newRole = store(this, "value");
                    let newRoleValue = newRole.toLowerCase();

                    // TODO socketio should be used in the future
                    $.ajax({
                        url: "/user/" + userId + "/role",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ role: newRoleValue }),
                        success: function(response) {
                            if (response.status) {
                                $("#modal-normal-content").load("/modal/user-list");
                            } else {
                                notify("{{ _('Error') }}", response.message, "danger");
                            }
                        },
                        error: function() {
                            notify("{{ _('Error') }}", "{{ _('An error occurred.') }}", "danger");
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}