<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="modal-title modal_edit_title form-control form-control-lg" id="tile_name" maxlength="40" placeholder="{{ _('Tile name') }}" autocomplete="off">
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group-sm row">
                        <label for="tile-type" class="col-sm-3 col-form-label">{{ _("Tile type") }}</label>
                        <div class="col-sm-9">
                            <div style="position:relative; margin-bottom:6px" id="tile-type" class="btn-group-justified btn-group-toggle" data-toggle="buttons"> <!--modal_edit_tile_types-->
                                {% for tile_name in tile_types %}
                                    {% include "modal_edit/tile_type_btn.html" %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% include "modal_edit/tile_values.html" %}
                    
                    <div class="form-group-sm row">
                        <label for="tile-id" class="col-sm-3 col-form-label">{{ _("Tile ID") }}</label>
                        <div class="col-sm-8">
                            <script type="text/javascript">
                                function AvoidSpace(event) {
                                    let k = event ? event.which : window.event.keyCode;
                                    if (k === 32) return false;
                                }
                            </script>
                            <input id="tile-id" class="form-control form-control-sm" type="text" maxlength="40" placeholder="{{ _('Tile ID') }}" value="{{ tile_id }}" onkeypress="return AvoidSpace(event)">
                        </div>
                    </div>

                    <div class="form-group-sm row">
                        <label for="tile-mqtt-path" class="col-sm-3 col-form-label">{{ _("MQTT path") }}</label>
                        <div class="col-sm-8">
                            <input id="tile-mqtt-path" class="form-control form-control-sm" type="text" placeholder="{{ _('MQTT path') }}" readonly>
                        </div>
                    </div>

                </form>
                <hr>

                <h6>{{ _("Add modal items") }}</h6>

                {% for item_name in modal_items %}
                    {% include "modal_edit/modal_type_btn.html" %}
                {% endfor %}

                <hr>

                <div class='col-6' style='display:inline-block;'>
                    <h6>Modal items</h6>
                </div>
                <div style="display: inline-block;" class="btn-group float-right">
                    <button type="button" id="unpack-items" class="btn btn-light btn-sm">{{ _("Unpack all") }}</button>
                    <button type="button" id="collapse-items" class="btn btn-light btn-sm">{{ _("Pack all") }}</button>
                </div>
                <div class="modal_items_edit">
                    <div id="example1" class="modal_items_edit_sortable list-group col">
                        {% for item in modal %}
                            {% include "modal_edit/item_values.html" %}
                        {% endfor %}

                        <script type="text/javascript">
                          new Sortable(example1, {
                            handle: ".menu-handle", // handle"s class
                            animation: 150,
                            onEnd: function (/**Event*/evt, /**Event*/originalEvent) {
                              let old_index = evt.oldDraggableIndex;
                              let new_index = evt.newDraggableIndex;
                              let id_of_caller = $(".modal-here").attr("id_of_caller");

                              socketio.emit("modal_item_index", {
                                "id": id_of_caller,
                                "old_index": old_index,
                                "new_index": new_index
                              });
                            },
                          });
                        </script>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="scroll-up" class="mr-auto btn btn-light"><img alt="{{ _('Up') }}" src="{{ url_for('static', filename='img/static/arrow-up.png') }}" style="filter:invert(0.28);" height="16"></button>
                <button type="button" class="col-5 mr-auto btn btn-sm btn-outline-info" data-dismiss="modal">{{ _("Close") }}</button>
                <button type="button" id="delete-tile" class="trash-modal btn btn-outline-danger">
                    {{ _("Delete") }}
                </button>
            </div>
        </div>
    </div>
</div>
