{% extends "modal.html" %}

{% block title %}
    {{ _("Settings") }}
{% endblock %}

{% block content %}
    <div class="modal-settings-page-item">
        <span style="margin-right: 100%;" >{{ _("Appearance") }}</span>

        <div class="modal-settings-page-appearance-wrapper" data-selected="false">
            <div class="modal-settings-page-appearance" data-type="light">
                <img alt="{{ _("LIGHT") }}" src="{{ url_for('static', filename='/img/static/mode-light.png') }}" class="modal-settings-page-appearance-img">
                <div class="modal-settings-page-appearance-label">{{ _("LIGHT") }}</div>
            </div>

            <div class="modal-settings-page-appearance" data-type="dark" data-selected="false">
                <img alt="{{ _("DARK") }}" src="{{ url_for('static', filename='/img/static/mode-dark.png') }}" class="modal-settings-page-appearance-img">
                <div class="modal-settings-page-appearance-label">{{ _("DARK") }}</div>
            </div>

            <div class="modal-settings-page-appearance" data-type="smart" data-selected="false">
                <img alt="{{ _("SMART") }}" src="{{ url_for('static', filename='/img/static/mode-auto.png') }}" class="modal-settings-page-appearance-img">
                <div class="modal-settings-page-appearance-label">{{ _("SMART") }}</div>
            </div>
        </div>

        <style>
            .modal-settings-page-appearance-img {
                width: 100%;
                height: 100%;
            }
            .modal-settings-page-appearance {
                width: 100px;
                height: 100px;
                display: inline-block;
                margin-right: 30px;
            }
            .modal-settings-page-appearance-wrapper {
                margin-top: 20px;
            }
            .modal-settings-page-appearance-label {
                text-align: center;
                margin-top: 5px;
            }
        </style>
    </div>

    <!-- {% for item in modal %}
        {% include "modal/" + item["type"] + ".html" %}
    {% endfor %} -->

    <div class="form-group-sm row">
        <label for="tile-type" class="col-sm-2 col-form-label">{{ _("Background") }}</label>
        <div class="col-sm-10">
            <div class="modal-edit-icons">
                <!-- TODO-->
                <img alt="background" src="{{ 'img/backgrounds/' }}" data-name="background-name" class="modal-edit-select-bcg" checked>
            </div>
        </div>
    </div>
{% endblock %}