<div class='swiper-slide'>
    <div class="dropdown">
        <!--<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>-->
        <img src="/static/images/static/settings-icon.png" class="page_settings_icon" data-toggle="dropdown">
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" id="edit_page_dropdown">Upravit tuto stránku</a>
            <a class="dropdown-item">Přidat novou stránku</a>
            <a class="dropdown-item">Odebrat tuto stránku</a>
            <a class="dropdown-item">Nastavení</a>
        </div>
    </div>

    <!-- <button class="hx-btn hx-positive" id="#dropdown-example-1>Button"> AHOOOJ </button> -->

        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->

    <div class='swipe-header'>
        ::name::
    </div>
    <div class='swipe-content'>
        <div id="gridDemo" class="col">::content::</div>
        <div class="end-block"></div>
    </div>
</div>