<div class="swiper-slide classify-swiper-slide">
    <span class="exit-edit-mode-button" style="
    position: absolute;
    display: none;
    top: 10px;
    height: 30px;
    background-color: #ffffffff;
    color: #000000b3;
    right: 155px;
    border-radius: 10px;
    line-height: 30px;
    text-align: right;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
">Exit edit mode</span>

    <div class="dropdown">
        <div class="page-menu-status-wrapper" style="
            position: absolute;
            top: 10px;
            min-width: 95px;
            height: 30px;
            background-color: #ffffffff;
            color: #000000b3;
            right: 6px;
            border-radius: 10px;
            line-height: 30px;
            font-size: 15px;
            padding-left: 8px;
            padding-right: 50px;
        " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="server-status">Online</span>
            <div class="page-menu-status-wrapper-line" style="
            width: 20px;
            height: 30px;
            position: absolute;
            top: -3px;
            right: 38px;
            border-right: 2px solid #0000002b;
            transform: rotate(20deg);
        ">
                <img src="/img/static/settings-icon.png" class="page_settings_icon">
            </div>
        </div>
        <!-- <img src="{{ url_for('static', filename='img/static/settings-icon.png') }}" class="page_settings_icon" data-toggle="dropdown"> -->
        <div class="dropdown-menu dropdown-menu-right" >
            <a class="dropdown-item" id="edit-page">Upravit tuto stránku</a>
            <div class="dropdown-wrapper" dissapear-on-edit>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="append-slide">Přidat novou stránku</a>
                <a class="dropdown-item" id="remove-slide">Odebrat tuto stránku</a>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Pozadí</a>
            <a class="dropdown-item" id="settings" >Nastavení</a>
            <!--<a class="dropdown-item">Uložit devices.json</a>-->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="shutdown">Vypnout server</a>
            <a class="dropdown-item" id="restart">Restartovat server</a>
        </div>
    </div>
    

    <!-- <button type="button" class="btn btn-outline-info btn-exit-edit-mode">Ukončit upravovací mód</button> -->

    <input type="text" class="swipe-header-textbox swipe-header" value="{{ slide.name }}" readonly>

    <div class="swipe-content">
        <div class="zoomable c_sortable_page_grid" id="sortable_page_grid" style="display:table;">
            {% for tile in slide.data %}
                {% include "tiles/" + tile.type + ".html" %}
            {% endfor %}
        <div class='add_new_tile_element tile' data-id='id-add' style='display: inline-block; box-shadow: none; background-color:transparent; -moz-transition: none; -webkit-transition: none; transition: all none;'>
            <img src='/img/static/add.png' style='width:30px; position:relative; transform: translate(-50%,-50%); left:30%; top:50%; cursor: pointer; -moz-transition: none; -webkit-transition: none; transition: all none;'>
        </div>
        <script>
            $(".add_new_tile_element").hide();
        </script>

        </div>
        <!--<div class="end-block"></div>-->
    </div>
</div>