<div class="swiper-slide classify-swiper-slide">
    <span class="exit-edit-mode-button">{{ _("Exit edit mode") }}</span>

    <div class="dropdown">
        <div class="page-menu-status-wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="server-status">{{ _("Online") }}</span>
            <div class="page-menu-status-wrapper-line">
{#                <img alt="{{ _('Settings') }}" src="{{ url_for('static', filename='img/static/settings.png') }}" class="page_settings_icon">#}
                <span class="iconify page_settings_icon" data-icon="ph:gear-fill" data-inline="false"></span>
            </div>
        </div>

        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-mobile">
                <a class="edit-page dropdown-item">{{ _("Edit mode") }}</a>
                <div class="dropdown-divider"></div>
            </div>

            {% if doorbird %}
                <div class="dropdown-mobile">
                    <a class="doorbird dropdown-item">{{ _("Doorbird") }}</a>
                    <div class="dropdown-divider"></div>
                </div>
            {% endif %}

            <div class="dropdown-wrapper disappear-on-normal">
                <h6 class="dropdown-header">Slide</h6>
                <a class="append-slide dropdown-item">{{ _("Add") }}</a>
                <a class="remove-slide dropdown-item">{{ _("Remove") }}</a>
                <a class="move-slide-right dropdown-item">{{ _("Move right") }}</a>
                <a class="move-slide-left dropdown-item">{{ _("Move left") }}</a>
                <div class="dropdown-divider"></div>
            </div>

            <div class="dropdown-wrapper disappear-on-edit">
                <h6 class="dropdown-header">Info</h6>
                <a class="settings dropdown-item">{{ _("Settings") }}</a>
                <a class="client-list dropdown-item">{{ _("Client list") }}</a>
                <a class="user-list dropdown-item">{{ _("User list") }}</a>
                <div class="dropdown-divider"></div>
            </div>

            {% if android_apk %}
                <div class="dropdown-wrapper disappear-on-edit">
                    <h6 class="dropdown-header">Android</h6>
                    <a class="android-settings dropdown-item">{{ _("App settings") }}</a>
                    <div class="dropdown-divider"></div>
                </div>

            {% elif android_browser %}
                <div class="dropdown-wrapper disappear-on-edit">
                    <h6 class="dropdown-header">Android</h6>
                    <a class="android-apk dropdown-item">{{ _("APK application") }}</a>
                    <div class="dropdown-divider"></div>
                </div>
            {% endif %}

            <div class="dropdown-wrapper disappear-on-normal">
                <h6 class="dropdown-header">Server</h6>
                <a class="save dropdown-item">{{ _("Save") }}</a>

                <div class="dropdown-divider"></div>

                <h6 class="dropdown-header">Client</h6>
                {% if android_apk %}
                    <a class="reload dropdown-item">{{ _("Reload") }}</a>
                {% endif %}
                <a class="reload-all dropdown-item">{{ _("Reload all") }}</a>

                <div class="dropdown-divider"></div>
            </div>

            <a class="logout dropdown-item">{{ _("Logout") }}</a>
        </div>
    </div>

    <input class="swipe-header swiper-unfocus-on-enter unselectable" value="{{ slide.name }}" disabled>

    <div class="swipe-content">
        <div class="c_sortable_page_grid" id="sortable_page_grid" style="display:table; position: relative; margin: 0 auto; width: min-content;">
            {% for tile in slide.children %}
                {% include "tiles/tile.html" %}
            {% endfor %}

            <div class="add_new_tile_element add-tile-alpha tile" data-id="">
                <div style="position:relative; transform: translate(-50%,-50%); left:50%; top:50%;display:inline-block;">
                    <span class="iconify add-img" style="color:aliceblue;width: 30px;height: 30px; cursor: pointer;" data-icon="zondicons-add-solid" data-inline="false"></span>
                </div>
            </div>

        </div>
        <div class="end-block"></div>
    </div>
</div>