<div class="form-group-sm row">
    <label class="col-lg-3 col-form-label">{{ item.config.label }}</label>
    <div class="col-lg-9">
        <div style="position:relative; margin-bottom:6px" class="btn-group-justified btn-group-toggle" data-toggle="buttons">
            {% for value in item.config.options %}
                <label style="margin-bottom:6px;"
                       class="btn btn-secondary {% if value[0] in item.value %}active{% endif %}">
                    <input type="{% if item.config.checkbox %}checkbox{% else %}radio{% endif %}"
                           data-name="{{ value[0] }}"
                           autocomplete = "off">{{ value[1] }}
                </label>
            {% endfor %}
        </div>
    </div>
</div>