<div class="modal-item" data-id="{{ item.id }}" data-type="{{ item.type }}" data-value="{{ item.value }}" data-config='{{ item.config | tojson | safe }}' data-group="{{ group }}">
    <div class="form-group-sm row">
        <label class="col-lg-3 col-form-label">{{ item.config.label }}</label>
        <div class="col-lg-9">
            <select data-menu>
                {% for i in item.config.options %}
                    <option {% if i == item.value %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <script type="text/javascript" defer>
        $('.modal-item[data-id="{{ item.id }}"][data-group="{{ group }}"]').find('select[data-menu]').each(function() {

            let select = $(this),
                options = select.find('option'),
                menu = $('<div />').addClass('select-menu'),
                button = $('<div />').addClass('button'),
                list = $('<ul data-second="false"/>'),
                arrow = $('<em />').prependTo(button);

            options.each(function(i) {
                let option = $(this);
                list.append($('<li />').text(option.text()));
            });

            menu.css('--t', select.find(':selected').index() * -41 + 'px');

            select.wrap(menu);

            button.append(list).insertAfter(select);

            store(list.clone(), "second", true).insertAfter(button);

        });

        $('.modal-item[data-id="{{ item.id }}"][data-group="{{ group }}"]').on('click', '.select-menu', function(e) {

            let menu = $(this);

            if(!menu.hasClass('open')) {
                menu.addClass('open');
            }

        });

        $('.modal-item[data-id="{{ item.id }}"][data-group="{{ group }}"]').on('click', '.select-menu > ul > li', function(e) {

            let modalItem = $(this).closest(".modal-item");

            let li = $(this),
                menu = li.parent().parent(),
                select = menu.children('select'),
                selected = select.find('option:selected'),
                index = li.index();

            menu.css('--t', index * -41 + 'px');
            selected.attr('selected', false);
            let newSelect = select.find('option').eq(index);
            newSelect.attr('selected', true);

            menu.addClass(index > selected.index() ? 'tilt-down' : 'tilt-up');

            setTimeout(() => {
                menu.removeClass('open tilt-up tilt-down');
            }, 500);
            store(modalItem, "value", newSelect.text()).trigger("value-transmit");
        });

        $(document).click(e => {  // TODO, tohle se nemusí kopírovat, může to být globální --> optimalizace JS v HTMLkách
            e.stopPropagation();
            if($('.select-menu').has(e.target).length === 0) {
                $('.select-menu').removeClass('open');
            }
        });
        $('.modal-item[data-id="{{ item.id }}"][data-group="{{ group }}"]').on("config-receive", function() {
          let config = store($(this), "config");
          <!-- TODO config update for options-->
          $(this).find("label").text(config.label);
          function make(options) {
            if (options.length < config.options.length) {
              let newItem = options.last().clone().text(config.options[config.options.length-1]);
              newItem.insertAfter(options.last());
              return;
            }
            let cancelled = false;
            {#console.log(cancelled);#}
            config.options.forEach(function(val, index) {
              if (cancelled === false) {
                if (val !== $(options[index]).text()) {
                  if (options.length > config.options.length) {
                    $(options[index]).remove();
                    cancelled = true;
                  }
                  else {
                    $(options[index]).text(val);
                  }
                }
              }
            });
          }
          make($(this).find('ul[data-second="false"]').find("li"));
          make($(this).find('ul[data-second="true"]').find("li"));
          make($(this).find("option"));

        });
        $('.modal-item[data-id="{{ item.id }}"][data-group="{{ group }}"]').on("value-receive", function() {
          let value = store($(this), "value");
          $(this).find('option').each(function (index){
            let menu = $(this).closest(".select-menu");
            let oldIndex = menu.find("option:selected").index();
            if ($(this).val() === value) {
              if (oldIndex !== index) {
                menu.addClass(index > oldIndex ? 'tilt-down' : 'tilt-up');
                menu.css('--t', index * -41 + 'px');
                $(this).attr("selected", true);
                setTimeout(() => {
                  menu.removeClass('open tilt-up tilt-down');
                }, 500);
              }
            }
            else {
              $(this).attr("selected", false)
            }
          });
        });
    </script>
</div>