<img class="live-image" src="{{ item.value }}" style="" alt="{{ _("Live video") }}">

<style>
    .live-image {
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        margin-bottom: 5px
    }
    .live-image-active {
        max-width: 100%;
        max-height: 100%;
        z-index: 10000;
        bottom: 0;
        left: 0;
        margin: auto !important;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw !important;
    }

    {# 2 column grid: #}
    {#@media (min-width: 992px) {
        .modal-normal .live-image {
            width: 49.71% !important;
        }
        .modal-normal .modal-lg {
            max-width: 1300px;
        }
    }#}

</style>
