<!-- TODO hodně věcí je zde nakopírovaných několikrát -> vymyslet něco lepšího - nějaké funkce, .... -->
<div class="form-group-sm row">
    <label class="col-lg-3 col-form-label">{{ item.config.label }}</label>
    <div class="col-lg-9">
    <!-- TODO placeholder configurable/automatic????? -->
        {% if not item.config.list %}
            {% set current_value = [item.value] %}
        {% else %}
            {% set current_value = item.value %}
        {% endif %}
        {% for string in current_value %}
            <div class="input-group input-group-sm" style="margin-bottom: 10px;">
                {% if item.config.prepend %}
                    <div class="input-group-prepend">
                        <span class="input-group-text form-control-sm">{{ item.config.prepend }}</span>
                    </div>
                {% endif %}
                {% if not item.config.count %}{% set count = 1 | int %}{% else %}{% set count = item.config.count | int %}{% endif %}
                {% for i in range(count) %}
                    <input class="unfocus-on-enter modal-input form-control form-control-sm {% if item.config.invalid %}is-invalid{% endif %}"
                           maxlength="{% if item.config.max_length %} {{ item.config.max_length / count | round | int }}{% else %}{{ (40/count) | round | int }}{% endif %}"
                           placeholder='{% if item.config.placeholder == "" %}{% if not string %}N/A{% else %}{% if count == 1 %}{{ string }}{% else %}{{ string[i] }}{% endif %}{% endif %}{% else %}{{ item.config.placeholder }}{% endif %}'
                           value='{% if count == 1 %}{{ string }}{% else %}{{ string[i] }}{% endif %}'
                           autocomplete="off"
                           {% if item.config.readonly %}readonly{% endif %}
                           type="{% if item.config.number %}number{% else %}text{% endif %}"
                    >
                {% endfor %}
                {% if item.config.list %}
                    <div class="input-group-append remove-input">
                        <button type="button" class="btn btn-sm btn-outline-danger no-open" style="padding: .15rem .35rem;width: 50px;" {% if item.value | length == 1 %}disabled{% endif %}>
                            <span class="iconify no-open" style="font-size: 20px;" data-icon="jam-trash-alt-f" data-inline="false"></span>
                        </button>
                    </div>
                {% elif item.config.button %}
                    <div class="input-group-append">
                        <button class="submit btn btn-sm form-control-sm {% if mode == "light" %}btn-outline-dark{% else %}btn-outline-light{% endif %}" type="button" disabled>{{ _("Submit") }}</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div style="{% if not item.config.list %}display:none{% endif %}">
            <button type="button" class="btn add-input btn-sm btn-block btn-outline-warning col-lg">Add</button>
        </div>
    </div>
</div>