<div class="form-group-sm row">
    <div class="col-lg-4 modal-slider-text">
        <span class="modal-slider-label">{{ item.config.label }}</span>
        <span class="modal-slider-right"><span class="modal-slider-value">{% if item.value %}{% if item.config.range %}{{ item.value[0] }} - {{ item.value[1] }}{% else %}{% if item.value is iterable and (item.value is not string and item.value is not mapping) %}{{ item["value"][0] }}{% else %}{{ item.value }}{% endif %}{% endif %}{% else %} - {% endif %}</span><span class="modal-slider-suffix">{% if item.config.suffix %} {{ item.config.suffix }}{% endif %}</span></span>
    </div>
    <div class="col-lg-8">
        <div class="modal-slider-center">
            <div class="slider">
                <div class="ui-slider-handle">
                </div>
            </div>
        </div>
    </div>
</div>