{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

    {% block script %}{% endblock %}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <div class="middle-container bcg-normal">
        <div class="vertical-middle text-center">
            <div class="horizontal-middle">
                {% block centered %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
