{% extends "auth/base.html" %}

{% block title %}{{ _("Login") }}{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}" defer></script>
    {% if registration == True %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}" defer></script>
    {% endif %}
{% endblock %}

{% block centered %}
    <form id="login-form" autocomplete="off" action="{{ redirect }}">
        <p class="h4 mb-4" id="label">{{ _("Login") }}</p>
        <div class="auth-input">
            <input id="username" autocapitalize="none" placeholder="{{ _("Username") }}" type="text" maxlength="40">
            <div class="icons">
                <span class="iconify check" data-icon="heroicons-solid:check-circle" data-inline="false"></span>
                <span class="iconify x" data-icon="heroicons-solid:x-circle" data-inline="false"></span>
            </div>
        </div>
        <div class="auth-input">
            <input id="password" placeholder="{{ _("Password") }}" type="password" maxlength="80">
            <div class="icons">
                <span class="iconify check" data-icon="heroicons-solid:check-circle" data-inline="false"></span>
                <span class="iconify x" data-icon="heroicons-solid:x-circle" data-inline="false"></span>
            </div>
        </div>

        <button id="login" class="btn btn-dark access" type="button" id="login">{{ _("Login") }}</button>

        {% if registration == True %}
            <a class="switch-auth" href="#">{{ _("I do not have an account") }}</a>
        {% else %}
            <div class="end-block"></div>
        {% endif %}
    </form>
    {% if registration == True %}
    <form id="register-form" autocomplete="off" action="{{ redirect }}" style="display: none;">
        <p class="h4 mb-4">{{ _("Registration") }}</p>

        <div class="auth-input">
            <input id="first-reg-name" placeholder="{{ _("First name") }}" type="text" maxlength="20">
            <div class="icons">
                <span class="iconify check" data-icon="heroicons-solid:check-circle" data-inline="false"></span>
                <span class="iconify x" data-icon="heroicons-solid:x-circle" data-inline="false"></span>
            </div>
        </div>
        <div class="auth-input">
            <input id="last-reg-name" placeholder="{{ _("Last name") }}" type="text" maxlength="20">
            <div class="icons">
                <span class="iconify check" data-icon="heroicons-solid:check-circle" data-inline="false"></span>
                <span class="iconify x" data-icon="heroicons-solid:x-circle" data-inline="false"></span>
            </div>
        </div>
        <div class="auth-input">
            <input id="reg-username" placeholder="{{ _("Username") }}" type="text" maxlength="40">
            <div class="icons">
                <span class="iconify check" data-icon="heroicons-solid:check-circle" data-inline="false"></span>
                <span class="iconify x" data-icon="heroicons-solid:x-circle" data-inline="false"></span>
            </div>
        </div>
        <div class="auth-input">
            <input id="reg-password" placeholder="{{ _("Password") }}" type="password" maxlength="80">
            <div class="icons">
                <span class="iconify check" data-icon="heroicons-solid:check-circle" data-inline="false"></span>
                <span class="iconify x" data-icon="heroicons-solid:x-circle" data-inline="false"></span>
            </div>
        </div>
        <div class="password-requirements" style="text-align: left;  font-size: 13px; display: none;">
            <label style=" font-size: 15px;">{{ _("Password must contain:") }}</label>

            <div id="reg-label-letter" class="register-pass-label reg-password-invalid">{{ _("At least one uppercase and lowercase letter") }}</div>
            <div id="reg-label-chars" class="register-pass-label reg-password-invalid">{{ _("At least 10 characters") }}</div>
            <div id="reg-label-digit" class="register-pass-label reg-password-invalid">{{ _("At least one digit") }}</div>
            <div id="reg-label-special" class="register-pass-label reg-password-invalid">{{ _("At least one special character") }}</div>
        </div>
        <div class="auth-input">
            <input id="repeat-reg-password" placeholder="{{ _("Repeat password") }}" type="password" maxlength="80">
            <div class="icons">
                <span class="iconify check" data-icon="heroicons-solid:check-circle" data-inline="false"></span>
                <span class="iconify x" data-icon="heroicons-solid:x-circle" data-inline="false"></span>
            </div>
        </div>

        <button id="register" class="btn btn-dark access" type="button" id="login">{{ _("Register") }}</button>

        <a class="switch-auth" href="#">{{ _("I have an account") }}</a>
    </form>
    {% endif %}
{% endblock %}