{% extends "auth/base.html" %}
{% block title %}{{ _("Logged out") }}{% endblock %}
{% block content %}
    <div class="container">
        <form class="text-center" autocomplete="off">
            <p class="h4 mb-4">{{ _("Logged out") }}</p>
            <p>{{ _("See you later") }} <b>{{ user.first_name }}</b>!<br><br><a href="{{ url_for('index') }}">{{ _("Login") }}</a></p>
        </form>
    </div>
    <script type="text/javascript">
        setTimeout(() => {window.location.href = "http://" + window.location.hostname + ":" + window.location.port;}, 5000);
    </script>
{% endblock %}
