{% extends "auth/base.html" %}
{% block title %}{{ _("Registration") }}{% endblock %}
<!-- TODO registration old - to settings -->
{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}" defer></script>
    <div class="container auth-container">
        <form class="text-center" id="register-form" autocomplete="off" action="{{ redirect }}">
            <p class="h4 mb-4">{{ _("Registration") }}</p>

            <div class="form-field">
                <div class="field">
                    <input id="register-first-name" type="text" name="register-first-name" class="input" placeholder=" " autocomplete="off">
                    <label for="register-first-name" class="label">{{ _("First name") }}</label>
                </div>

                <div class="field">
                    <input id="register-last-name" type="text" name="register-last-name" class="input" placeholder=" " autocomplete="off">
                    <label for="register-last-name" class="label">{{ _("Last name") }}</label>
                </div>

                <div class="field">
                    <input id="register-username" type="text" name="register-username" class="input" placeholder=" " autocomplete="off">
                    <label for="register-username" class="label">{{ _("Username") }}</label>
                </div>

                <div class="field">
                    <input id="register-password" type="password" name="register-password" class="input" placeholder=" " autocomplete="off">
                    <label for="register-password" class="label">{{ _("Password") }}</label>
                </div>

                <div class="password-requirements" style="text-align: left;  font-size: 13px; display: none;">
                    <label style=" font-size: 15px;">Password must contain:</label>

                    <div id="reg-label-letter" class="register-pass-label register-password-invalid">At least one uppercase and lowercase letter</div>
                        <div id="reg-label-chars" class="register-pass-label register-password-invalid">At least 8 characters</div>
                        <div id="reg-label-digit" class="register-pass-label register-password-invalid">At least one digit</div>
                </div>

                <div class="field">
                    <input id="register-repeat-password" type="password" name="register-repeat-password" class="input" placeholder=" " autocomplete="off">
                    <label for="register-repeat-password" class="label">{{ _("Repeat password") }}</label>
                </div>

                <!-- <div class="form-group" style="top: 20px; position: relative;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input sex" type="radio" name="register-sex" id="female" value="female">
                        <label class="form-check-label" for="female">{{ _("Female") }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input sex" type="radio" name="register-sex" id="male" value="male">
                        <label class="form-check-label" for="male">{{ _("Male") }}</label>
                    </div>
                </div> -->
            </div>

            <button id="register" class="btn btn-info btn-block" type="button">{{ _("Register") }}</button>
            <br>
            {{ _("Already have an account?") }} <a href="{{ url_for('index') }}">{{ _("Login") }}</a>
        </form>
        {% if introduction == True %}
            <div id="introduction" class="container text-center" style="font-size:55px;color:white;text-shadow: 0 0 8px #333;width:90%"></div>
            <script>
              $("#register-form").hide();
              setTimeout(() => {
                  $("#introduction").text("{{ _("Good day!") }}").hide().fadeIn(1800);
                  setTimeout(() => {
                  $("#introduction").show().fadeOut(1800, function () {
                      $("#introduction").text("{{ _("This is Smart home") }}").hide().fadeIn(1800);
                      setTimeout(() => {
                      $("#introduction").show().fadeOut(1800, function () {
                          $("#introduction").text("{{ _("Please register to SH now!") }}").hide().fadeIn(1800);
                          setTimeout(() => {
                          $("#introduction").show().fadeOut(1800, function(){$("#register-form").hide().fadeIn(1800)});
                          }, 3800);
                      });
                      }, 3800);
                  });
                  }, 3000);
              }, 500);
            </script>
        {% endif %}
    </div>
{% endblock %}